@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');


:root{
    --colorPrimary: #007bff;
    --colorSecondary: #25a839;
    --colorText: #fff;
    --colorBorder: #343a40;
}

/*ESTILOS GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #1d1d1d;
    overflow-x: hidden; /* Para evitar que aparezca scroll horizontal */
    
}

/*HEADER*/

header {
    color: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

    background: 50% 100%/50% 50% no-repeat 
    radial-gradient(ellipse at bottom, #007bff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20vw;
    font-family: "Source Sans Pro", sans-serif;
    -webkit-animation: reveal 4000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 8000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@-webkit-keyframes reveal {
    80% {
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}
    @keyframes reveal {
    80% {
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}
    @-webkit-keyframes glow {
    40% {
    S  text-shadow: 0 0 5px #fff;
    }
}
    @keyframes glow {
    40% {
        text-shadow: 0 0 5px #fff;
    }
}



.logo h1 {
    margin: 0;
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.menu ul li a:hover {
    background-color: var(--colorPrimary);
    border-radius: 4px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}
.menuOn {
    background-color: var(--colorPrimary);
    color: #fff;
    border-radius: 20px;
} 


/*REPONSIVE HEADER*/

@media (max-width: 768px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 30%;
        height: 100%;
        background-color: #333;
        flex-direction: column;
        padding: 60px 20px;
        transition: left 0.3s ease;
        z-index: 999;
    }

    .menu ul {
        flex-direction: column;
        gap: 20px;
    }

    .menu.active {
        left: 0;
    }

    .menu-toggle {
        display: flex;
    }
    
    .logo {
        position: relative;
        z-index: 5000;
    }

    
}

body {
    margin-top: 60px; /* Para compensar el header fijo */
}

/*PORTADA*/
main {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 50     px;
}
.container-proyectos {
    background-color: lightgray;
    display: wrap;

}

.proyect-principal{
    background-image: url(/assets/img/proyecto\ 1.jpeg);
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 50px;
}
.card-oneth {
    width: 100%;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    cursor: pointer;
    color: var(--colorText);
    box-shadow: #007bff 0 5px 0 rgba(255, 255, 255,);
    display: flex;
    margin-bottom: 30px;
    margin:15px;
    padding: 10px;
}
.card-oneth h2{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    width: 30%;
}

.card-oneth p{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    width: 70%;
}
.card-oneth a{
    background-color: var(--colorPrimary);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 10px;
}
.container-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px
}
.card1 {
    background-image: url(/assets/img/proyecto2.jpeg);
    background-size: cover;
    width: 50%;
    height: 50rem;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    cursor: pointer;
}

.card {
    background-image: url(/assets/img/Designer\ \(3\).jpeg);
    background-size: cover;
    width: 50%;
    height: 50rem;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    cursor: pointer;
}


